@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body {
    font-family: 'Poppins', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;


}

.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(../proyecto/imagenes/bg.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    color: #fffdfc;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbarra ul li {
    position: relative;
    float: left;
}

.menu .navbarra ul li a {
    font-size: 18px;
    padding: 20px;
    color: #fffdfc;
    display: block;
    font-weight: 600;
}

.menu .navbarra ul li a:hover{
    color: #ce967b;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}


.header-cont {
    text-align: center;
}

.header-cont h1 {
    font-size: 75px;
    line-height: 80px;
    color: #f9fafc;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-cont p {
    font-size: 16px;
    color: #c5c5c5;
    padding: 0 250px;
    margin-bottom: 25px;
}

.boton1 {
    padding: 11px 35px;
    background-color: #ce967b;
    color: #f9fafc;
    text-transform: uppercase;
}

.boton1:hover {
    background-color:  #ebad8d;
}

.hamburguesas {
    padding: 100px 0;
    height: fit-content;
    background-color: #e1e2e6;
    height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tamañofoto {
    width: 100%;
    height: 100%;
}
.hamburguesas-cont {
    text-align: center;
    height: 75vh;
}

.hamburguesas-cont h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.text-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.hamburguesa-grupo {
    display: grid;
    justify-content: space-between;
    margin-bottom: 100px;
    height: fit-content;
}

.hamburguesa1{
    padding: 0 25px;
}

.hamburguesa1 img {
    width: 200px;
}

.hamburguesa-img {
    position: absolute;
    top: 0;
    right: 0;
}

.hamburguesa1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}