.flex-container {
    display: flex;
}

.item {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    border: 2px solid #333;
}

#item1 { flex-basis: 100px; background-color: #FFA07A; }
#item2 { flex-basis: 50%; background-color: #98FB98; }
#item3 { flex-basis: auto; background-color: #ADD8E6; }